@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}

.el-select-dropdown{
    position: absolute;
    z-index: 1001;
    border: solid 1px rgb(229, 223, 209);
    border-radius: 2px;
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    margin: 5px 0;
}

.el-select-dropdown .el-scrollbar.is-empty .el-select-dropdown__list{
    padding: 0;
}

.el-select-dropdown.is-multiple{}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{
    color: #E39836;
    background-color: #fff;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover{
    background-color: rgb(241, 239, 228);
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after{
    position: absolute;
    right: 10px;
    font-family: 'element-icons';
    content: "\E608";
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-select-dropdown__empty{
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: #999;
    font-size: 16px;
}

.el-select-dropdown__wrap{
    max-height: 274px;
}

.el-select-dropdown__list{
    list-style: none;
    padding: 6px 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /*#20a0ff*/
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /*var(--font-size-base);*/
    /*var(--color-extra-light-silver);*/
    /* var(--box-shadow-base);*/
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /*var(--border-color-base);*/
    /*var(--border-radius-base);*/
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /*var(--border-radius-base);*/
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /*var(--color-base-black)*/
    /* Pagination
 -------------------------- */
    /*var(--color-white)*/
    /*var(--disabled-border-base);*/
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /*var(--box-shadow-dark);*/
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}