.table-container
    position initial

.filter-list
    margin-right 25px !important
    .el-input__inner
        border none
        font-size 18px
        &::-webkit-input-placeholder
            color #777
    .btn-filter
        margin-top 7px
.neo-select
    select
        font-size 20px
        border none
        color #777
        option
            font-size 16px

.el-dialog__wrapper
    .el-input
        margin-bottom 15px
        font-size 16px
        >>>
            input
                padding 5px 10px
                // box-sizing bor
    .title
        text-align center
        margin-top 10px
        margin-bottom 20px

    .remaining-chars
        text-align right
        margin-top 10px
        display block

    >>>
        .el-dialog__body
            padding-bottom 30px
        .el-dialog--small
            width 40%

        .el-dialog__footer
            text-align center
            padding-bottom 30px


>>>
    .el-table__body-wrapper
        overflow-x hidden
        height calc(100vh - 348px)
        +above(1080px)
            height calc(100vh - 330px)
    .el-table__header
        th:nth-child(4)
        th:nth-child(5)
        th:nth-child(6)
        th:nth-child(7)
            text-align center
    .el-table__body
        td:nth-child(4)
        td:nth-child(5)
        td:nth-child(6)
        td:nth-child(7)
            text-align center
        a
            text-decoration none
        .color-green
            color #39AE3B
            text-decoration none
        .color-blue
            color #008afe
